[submodule "apps/schbench"]
	path = apps/schbench
	url = git@github.com:yhtzd/schbench.git
	branch = skyloft
[submodule "apps/memcached"]
	path = apps/memcached
	url = git@github.com:yhtzd/memcached.git
	branch = skyloft
